In [12]:
import pandas as pd 

data = pd.read_csv('https://drive.google.com/uc?id=1Jgto7psHaMRTAVzcFt7D6SgJiHMB7uGT')

display(data, data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID_Escola        15 non-null     int64
 1   Nome_Escola      15 non-null     object
 2   Tipo_Escola      15 non-null     object
 3   Numero_Alunos    15 non-null     int64
 4   Orcamento_Anual  15 non-null     int64
dtypes: int64(3), object(2)
memory usage: 732.0+ bytes

    ID_Escola Nome_Escola Tipo_Escola  Numero_Alunos  Orcamento_Anual
0           0    Escola A     Publica           2917          1910635
1           1    Escola B     Publica           2949          1884411
2           2    Escola C  Particular           1761          1056600
3           3    Escola D     Publica           4635          3022020
4           4    Escola E  Particular           1468           917500
5           5    Escola F  Particular           2283          1319574
6           6    Escola G  Particular           1858          1081356
7           7    Escola H     Publica           4976          3124928
8           8    Escola I  Particular            427           248087
9           9    Escola J  Particular            962           585858
10         10    Escola K  Particular           1800          1049400
11         11    Escola L     Publica           3999          2547363
12         12    Escola M     Publica           4761          3094650
13         13    Escola N     Publica           2739          1763916
14         14    Escola O  Particular           1635          1043130

None

1. Qual é o orçamento total de todas as escolas?

Dica: Use a função sum() para calcular o total da coluna Orcamento_Anual.

2. Qual escola tem o maior e o menor gasto per capita (gasto por aluno)?

Dica: Crie uma nova coluna para calcular o gasto per capita, dividindo Orcamento_Anual pelo Numero_Alunos, e use as funções idxmax() e idxmin() para identificar as escolas com o maior e menor valor.

In [ ]:
data['Nova_coluna'] = data['coluna_interesse1'] / data['coluna_interesse2']

print("O valor máximo está na posição: ", , 
      ". E o valor máximo, é: ", )

print("O valor máximo está na posição: ", , 
      ". E o valor máximo, é: ", )

3. Qual é a média do número de alunos por tipo de escola (Pública vs. Particular)?

Dica: Use a função groupby() combinada com mean() para calcular a média do número de alunos agrupada por tipo de escola (Tipo_Escola).

4. Quantas escolas têm um orçamento anual acima de 1,5 milhão?

Dica: Use a função sum() para contar quantas escolas têm Orcamento_Anual maior que 1.5 milhão.

7