In [ ]:
!pip install pysus -q

WARNING: elasticsearch 7.16.2 does not provide the extra 'preprocessing'

In [ ]:
from pysus.ftp.databases.sih import SIH
import pandas as pd


sih = SIH().load()

files = sih.get_files("RD", uf="PE", year=2024, month=[1,2,3])
data = sih.download(files)

100%|██████████| 3.98M/3.98M [00:00<00:00, 1.15GB/s]

In [ ]:
sih.metadata['description']

'A finalidade do AIH (Sistema SIHSUS) é a de transcrever todos os atendimentos que provenientes de internações hospitalares que foram financiadas pelo SUS, e após o processamento, gerarem relatórios para os gestores que lhes possibilitem fazer os pagamentos dos estabelecimentos de saúde. Além disso, o nível Federal recebe mensalmente uma base de dados de todas as internações autorizadas (aprovadas ou não para pagamento) para que possam ser repassados às Secretarias de Saúde os valores de Produção de Média e Alta complexidade além dos valores de CNRAC, FAEC e de Hospitais Universitários – em suas variadas formas de contrato de gestão.'

In [ ]:
sih.groups

{'RD': 'AIH Reduzida',
 'RJ': 'AIH Rejeitada',
 'ER': 'AIH Rejeitada com erro',
 'SP': 'Serviços Profissionais',
 'CH': 'Cadastro Hospitalar',
 'CM': ''}

In [ ]:
files = sih.get_files("RD", uf="PE", year=2024, month=[1,2,3])
data = sih.download(files)

100%|██████████| 3.98M/3.98M [00:00<00:00, 1.31GB/s]

In [ ]:
data

[/root/pysus/RDPE2401.parquet,
 /root/pysus/RDPE2402.parquet,
 /root/pysus/RDPE2403.parquet]

In [ ]:
import pandas as pd

data_list = []
for i in range(len(data)):
  df = data[i].to_dataframe()
  data_list.append(df)

In [ ]:
data_list

[        UF_ZI ANO_CMPT MES_CMPT ESPEC        CGC_HOSP          N_AIH IDENT  \
 0      260000     2024       01    02  10988301000129  2624103480966     1
 1      260000     2024       01    02  10988301000129  2624103480977     1
 2      260000     2024       01    02  10988301000129  2624103480988     1
 3      260000     2024       01    02                  2624105937838     1
 4      260000     2024       01    02                  2624105937849     1
 ...       ...      ...      ...   ...             ...            ...   ...
 50168  261640     2024       01    01  11866365000110  2624109208732     1
 50169  261640     2024       01    01  11866365000110  2624109208743     1
 50170  261640     2024       01    01  11866365000110  2624109208754     1
 50171  261640     2024       01    01  11866365000110  2624109208765     1
 50172  261640     2024       01    03  11866365000110  2624109210085     1

             CEP MUNIC_RES      NASC  ...  DIAGSEC9 TPDISEC1 TPDISEC2 TPDISEC3  \
 0      54315460    260790  19900409  ...                  0        0        0
 1      50080050    261160  19920522  ...                  0        0        0
 2      56460000    261100  19960729  ...                  0        0        0
 3      56313010    261110  19980618  ...                  0        0        0
 4      56302970    261110  19930324  ...                  1        0        0
 ...         ...       ...       ...  ...       ...      ...      ...      ...
 50168  55655000    260490  19840902  ...                  0        0        0
 50169  55608510    261640  19791115  ...                  0        0        0
 50170  55607360    261640  19790813  ...                  0        0        0
 50171  55614597    261640  19591007  ...                  0        0        0
 50172  55614195    261640  19520729  ...                  0        0        0

       TPDISEC4 TPDISEC5 TPDISEC6 TPDISEC7 TPDISEC8 TPDISEC9
 0            0        0        0        0        0        0
 1            0        0        0        0        0        0
 2            0        0        0        0        0        0
 3            0        0        0        0        0        0
 4            0        0        0        0        0        0
 ...        ...      ...      ...      ...      ...      ...
 50168        0        0        0        0        0        0
 50169        0        0        0        0        0        0
 50170        0        0        0        0        0        0
 50171        0        0        0        0        0        0
 50172        0        0        0        0        0        0

 [50173 rows x 113 columns],
         UF_ZI ANO_CMPT MES_CMPT ESPEC CGC_HOSP          N_AIH IDENT       CEP  \
 0      260000     2024       02    02           2624105950455     1  56302080
 1      260000     2024       02    02           2624105950477     1  47220970
 2      260000     2024       02    02           2624105950488     1  56355000
 3      260000     2024       02    02           2624105950500     1  48903901
 4      260000     2024       02    02           2624105950521     1  56302160
 ...       ...      ...      ...   ...      ...            ...   ...       ...
 49332  260000     2024       02    02           2624105948926     1  56302080
 49333  260000     2024       02    02           2624105948937     1  47310000
 49334  260000     2024       02    02           2624105948948     1  56322260
 49335  260000     2024       02    02           2624105948959     1  48904719
 49336  260000     2024       02    02           2624105950444     1  56316520

       MUNIC_RES      NASC  ...  DIAGSEC9 TPDISEC1 TPDISEC2 TPDISEC3 TPDISEC4  \
 0        261110  20030302  ...                  1        0        0        0
 1        290590  19970402  ...                  1        0        0        0
 2        260515  19930111  ...                  1        0        0        0
 3        291840  19970315  ...                  1        1        1        0
 4        261110  19981126  ...                  1        0        0        0
 ...         ...       ...  ...       ...      ...      ...      ...      ...
 49332    261110  19870517  ...                  0        0        0        0
 49333    290720  19911220  ...                  0        0        0        0
 49334    261110  20060704  ...                  0        0        0        0
 49335    291840  19950529  ...                  0        0        0        0
 49336    261110  19990407  ...                  1        1        0        0

       TPDISEC5 TPDISEC6 TPDISEC7 TPDISEC8 TPDISEC9
 0            0        0        0        0        0
 1            0        0        0        0        0
 2            0        0        0        0        0
 3            0        0        0        0        0
 4            0        0        0        0        0
 ...        ...      ...      ...      ...      ...
 49332        0        0        0        0        0
 49333        0        0        0        0        0
 49334        0        0        0        0        0
 49335        0        0        0        0        0
 49336        0        0        0        0        0

 [49337 rows x 113 columns],
         UF_ZI ANO_CMPT MES_CMPT ESPEC        CGC_HOSP          N_AIH IDENT  \
 0      260000     2024       03    07  10572048003810  2624105677534     1
 1      260000     2024       03    07  10572048003810  2624105677545     1
 2      260000     2024       03    07  10572048003810  2624105677556     1
 3      260000     2024       03    07  10572048003810  2624105677567     1
 4      260000     2024       03    07  10572048003810  2624105677963     1
 ...       ...      ...      ...   ...             ...            ...   ...
 54419  260000     2024       03    03  10572048003810  2624105688314     1
 54420  260000     2024       03    03  10572048003810  2624105688325     1
 54421  260000     2024       03    03  10572048003810  2624105688336     1
 54422  260000     2024       03    07  10572048003810  2624105677512     1
 54423  260000     2024       03    07  10572048003810  2624105677523     1

             CEP MUNIC_RES      NASC  ...  DIAGSEC9 TPDISEC1 TPDISEC2 TPDISEC3  \
 0      56600000    261410  20181213  ...                  1        0        0
 1      56560000    260700  20150414  ...                  1        2        0
 2      56512600    260120  20230222  ...                  1        0        0
 3      56520000    260280  20181203  ...                  0        0        0
 4      55340000    260050  20220305  ...                  1        0        0
 ...         ...       ...       ...  ...       ...      ...      ...      ...
 54419  56516050    260120  19770602  ...                  1        0        0
 54420  55260000    260060  19810313  ...                  1        0        0
 54421  56580000    260660  20081111  ...                  1        1        0
 54422  56511040    260120  20131130  ...                  1        0        0
 54423  55340000    260050  20240301  ...                  0        0        0

       TPDISEC4 TPDISEC5 TPDISEC6 TPDISEC7 TPDISEC8 TPDISEC9
 0            0        0        0        0        0        0
 1            0        0        0        0        0        0
 2            0        0        0        0        0        0
 3            0        0        0        0        0        0
 4            0        0        0        0        0        0
 ...        ...      ...      ...      ...      ...      ...
 54419        0        0        0        0        0        0
 54420        0        0        0        0        0        0
 54421        0        0        0        0        0        0
 54422        0        0        0        0        0        0
 54423        0        0        0        0        0        0

 [54424 rows x 113 columns]]

In [ ]:
df_final = pd.concat(data_list, ignore_index=True)